# Python
__pycache__/
*.py[cod]
*.class
.venv/
venv/
*.egg-info/

# Node
node_modules/
npm-debug.log*

# Docker
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary
*.tmp
*.bak
